@model IEnumerable<GestaoTarefasIPG.Models.Divisoes>

@{
    ViewData["Title"] = "Index";
}

<h4>Divisões</h4>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumDivisao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumDivisao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idDivisao">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.idDivisao">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.idDivisao">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>